# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.2023-Deca-Start-Up-Business-Application.iml
# Editor-based HTTP Client requests
/httpRequests/
